*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.flex-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: start;
}
.title{
  margin-right: auto;
font-size: 45px;
color: rgb(56, 15, 5);
}
header{
background-color: #cea46c;
padding: 30px;
border-bottom: 1px solid rgb(82, 14, 14);
display: flex;
align-items: center;
justify-content:end;
}
.add-task {
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(167, 51, 16);
color: white;
font-size: 50px;
width: 70px;
height: 70px;
border-radius: 80%;
margin-left: 20px;
}
.add-task:hover{
background-color: rgb(156, 15, 10);
cursor: pointer;
}
footer {
text-align: center;
font-weight: bold;
margin-top: auto;
margin-bottom: 10px;
padding-top: 20px;
}
.task{
font-size: 25px;
display: flex;
border-bottom: 1px solid rgb(230, 230, 230);
justify-content: space-between;
}
.taskInstruction{
  padding: 30px;
}
.taskLocation{
  padding: 30px;
}
.formulary{
  display: flex;
  flex-direction: column;   
  width:500px;
}
.formulary input{
  padding:10px;
  margin:2px
}
.buttons{
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  font-size: 16px;
  border-bottom: 1px solid rgb(160, 160, 160);
}
.delete{
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 10%;
  margin-left: 10px;
}
.update{
  background-color: royalblue ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 10%;
  margin-left: 2px;
}
.delete:hover{
  background-color: rgb(221, 8, 8);
  cursor: pointer;
}
.update:hover{
  background-color: rgb(53, 87, 190);
  cursor:pointer
}